# Virtual environments
*/pykitti/
*/venv/
*/env/
*/.env/
*/.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# KITTI dataset files
*/ws/kitti/*

# miniforge
*/ws/miniorge3/*
*/ws/miniforge3/*
*/ws/Miniforge3-Linux-x86_64.sh

# TSformer-VO models
*/ws/TSformer-VO/models/*
/ubuntu-20.04-cont/ws/eee_01
/ubuntu-20.04-cont/ws/orb_slam3_ws/build
/ubuntu-20.04-cont/ws/orb_slam3_ws/.catkin_tools
/ubuntu-20.04-cont/ws/orb_slam3_ws/devel
/ubuntu-20.04-cont/ws/orb_slam3_ws/logs
/ubuntu-20.04-cont/ws/bagvenv
/ubuntu-20.04-cont/ws/svo_ws/build
/ubuntu-20.04-cont/ws/svo_ws/logs
/ubuntu-20.04-cont/ws/bags
/ubuntu-20.04-cont/ws/bagpy_venv
*.ods#
*.tar
/ubuntu-24.04-cont/ws/kitti-odom-eval/kitti_eval
*.xcf

# LaTeX build files
rad/*.aux
rad/*.bbl
rad/*.bcf
rad/*.blg
rad/*.fdb_latexmk
rad/*.fls
rad/*.lof
rad/*.log
rad/*.lot
rad/*.out
rad/*.run.xml
rad/*.toc
rad/*.xdv
rad/*.synctex.gz
rad/missfont.log